[project]
	description = WordPress shortcode plugin to automatically refresh images without page reload
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/klasske
[access "refs/for/refs/*"]
	read = group user/klasske
	push = group user/klasske
	label-Code-Review = -2..+2 group user/klasske
	label-Verified = -1..+1 group user/klasske
	rebase = group user/klasske
	removeReviewer = group user/klasske
	submit = group user/klasske
[access "refs/heads/*"]
	read = group user/klasske
	create = group user/klasske
	push = +force group user/klasske
	pushMerge = group user/klasske
[access "refs/tags/*"]
	push = +force group user/klasske
	pushTag = group user/klasske
	pushSignedTag = group user/klasske
